/*Media Q for mobile navbar / hamburger*/

@media (max-width:768px) {
     .navbar .menu-toggle {
        display: block !important;;
    }
    .navbar-items {
       position: absolute; 
       flex-direction: column;
       top: 58px;
       width: 100%;
       left: 0;
       right: 0;
       margin-right: 0;
       max-height: 0;
       transition: max-height 0.3s ease-in-out;
       overflow: hidden;
       gap: 20px;
       z-index: 1001;
       background-color: rgba(30, 30, 40, 0.9);
       

    }
    .navbar-items li {
        width: 100%;
        text-align: center;
        margin: 0;
    }
    .navbar-items li a {
        font-size: 1.3rem;
        width: 100%;
        display: block;
        color: var(--white);
    }
    .navbar-items.active {

        max-height: 450px; 
    }
}

/*Mobile responsive for landing page content*/

@media (max-width: 600px) {
    .mission-landing {
        margin-top: 15px;
    }
    .landing-content {
        padding: 40px 20px;
    }
    .landing-content h1 {
        font-size: 2.5rem;
    }
    .landing-content p {
        padding: 10px 20px; 
        font-size: 0.9rem;
    }
}

@media (max-width: 300px) {
    .cta-button {
        padding: 8px 16px;
        font-size: 0.85rem;
    }
}

/*Mobile responsive for Gallery*/

@media (max-width: 1000px){
    .grid-item{
        width: calc(50% - 15px);
        min-width: 300px;
    }
}

@media (max-width: 650px){
    .image-grid {
        gap: 20px;
    }
    .grid-item {
        width: 100%;
        min-width: 0;
    }
    .grid-item img {
        height: 180px;
    }
}

/*RESPONSIVE FOR FOOTER */

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer-brand, .footer-links, .footer-contact {
        min-width: 100%;
        margin-bottom: 30px;
    }
    .footer h4 {
        text-align: center;
        width: 100%;
    }
    .footer-links ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}